.admin-dashboard{
    padding:30px;
    background:#fba7f5;
    min-height:100vh;
}

.stats{
    display:flex;
    gap:20px;
    margin-bottom:30px;
    flex-wrap:wrap; /* 👉 responsive */
}

.stat-box{
    background:rgb(236, 142, 200);
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    width:220px;
    text-align:center;
    cursor:pointer; /* 👉 click được */
    transition:0.3s;
}

.stat-box:hover{
    transform:translateY(-5px) scale(1.05);
    background:#ff8bd6;
}

.stat-box h3{
    margin-bottom:10px;
}

.stat-box p{
    font-size:28px;
    font-weight:bold;
    color:#e91e63;
}